.writer-app {
  background: #03669e
}
.calc-app {
  background: #00a500
}
.impress-app {
  background: #9e3c03
}
.math-app {
  background: #626262
}
.base-app {
  background: #89039e
}
.draw-app {
  background: #c49800
}
